#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk

override_dh_strip:
	$(overridden_command) --dbg-package=plasma-nm-dbg

override_dh_fixperms:
	chmod +x debian/plasma-nm/usr/share/applications/kde5-nm-connection-editor.desktop
	$(overridden_command)
